.text {
    padding-top: 70px;
}

.slide {
    background-size: cover;
    height: 500px;
    background-position: center;
    width: 100%;
}

.first-slide {
    background-image: url("../images/slider/bg1.jpg");
}

.second-slide {
    background-image: url("../images/slider/bg2.jpg");
}

.third-slide {
    background-image: url("../images/slider/bg3.jpg");
}

#marketing {
    background-color: #2ECC71;
    padding: 30px;
    padding-top: 40px;
}

.div-icon {
    font-size: 4rem;
    background-color: #1C7A44;
    border-radius: 100%;
    width: 80px;
    padding: 10px;
}

.marketing-text {
    margin-left: 100px;
    margin-bottom: 20px;
}

.marketing-text h3 {
    margin-top: 0;
}
/*.move{
  background:#F5F5F5;
}*/
.project{
    margin-top:50px;
    margin-bottom:50px;
}
.thumbnail{
  padding: 9px;
  border: 1px solid rgba(111,107,107,0.26);
  color: #34495E;
  font-family: "Roboto";
  
}
.thumbnail h5{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.backred{
    background-color: #E84C3D;
    padding-top: 50px;
    color: #ffffff;
    padding-bottom:50px;
  
}
.what{
    text-align:center;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 30px;

}
/*.about{
  background-color: #34495E;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.red{
  background-color: #E84C3D;
  color: #ffffff;
}
.red:hover{
  background-color:#ffffff;
  color: #E84C3D;
  border:1px solid #E84C3D;
}
.icon-flecha{
  margin-right: 5px;
}
.blanca{
  color: #ffffff;
}
.en .linea{
  display:inline-block;
}
.final{
  color: #ffffff;
  background:#2C3E50;
  padding-top: 35px;
  padding-bottom: 37px;
}*/