#fotos {
    padding: 50px;
}

#fotos img {
    width: 100%;
}

.fotos-box {
    background-color: #fff;
    padding: 7px;
    width: 31%;
    margin-right: 2%;
}

#fotos p {
    margin-top: 10px;
}

.mg-top {
    margin-top: 30px;
}
